<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Add Products</h1>
        <form action="/admin/add-product" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" name="name">
                
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Category</label>
                <input type="text" class="form-control" name="category">
            </div>
             <div class="mb-3">
                <label for="" class="form-label">Price</label>
                <input type="number" class="form-control" name="price">
            </div>
             <div class="mb-3">
                <label for="" class="form-label">Description</label>
                <input type="text" class="form-control" name="description">
            </div>
             <div class="mb-3">
                <label for="" class="form-label">Image</label>
                <input type="file" class="form-control" name="Image" >
            </div>
           
            <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
        </div>
        </div>
    </div>
</section>